<!-- <div class="component">
    <div class="content">

        <div *ngIf="forecast">
            <highcharts-chart [Highcharts]="Highcharts" class="chart"
            [options]="chartOptions"
      
    ></highcharts-chart>
        </div>
    </div>
</div> -->


<!-- <mat-grid-list cols="2" class="grid">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>
       
    </mat-grid-tile>
  </mat-grid-list> -->
  
  <div class="grid">

        <div *ngIf="forecast">
            <highcharts-chart [Highcharts]="Highcharts" class="chart" [options]="chartOptions"></highcharts-chart>
        </div>
  </div>