

.chart {
    z-index: 200;
    height: 250px;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    right: 10px;
    bottom: 10px
}

.grid {
    z-index: 100;
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

