/* .map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
  }
  

  
*/
#map {
  height: 100%;
  z-index: 0;
} 
  
#foreground {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    /* width: 100%; */
    /* position: relative; */
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    z-index: 0;

  }

  .map-frame {
    border: 0px solid black;
    height: 100%;
    z-index: 0;
  }

  app-energy-forecast {
    background-color: red;
  }