/* .map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
  }
  

  
*/
#map {
  height: 100%;
  z-index: 0;
} 
  
#foreground {
    padding: 10px;
    /*position: absolute;*/
    position: relative;
    z-index: 2;

}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    z-index: 0;

  }

  .map-frame {
    border: 0px solid black;
    height: 100%;
    z-index: 0;
  }

  .energy-forecast {
      position: absolute;
      bottom: 112px;
      right: 20px;
      z-index: 100;
      float: left;
  }